

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  background: #E8D9C5;
  animation: color-change 10s linear 2s infinite;
}

@keyframes color-change {
  0%, 100% { background: #D6F5D6; }
  25%      { background: #E8D9C5;  }
  50%       {background: #D6F5D6;  }
}
#buttons{
    text-align: center;
}
#seeking_btn {
    font-family: "comfortaa";
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 250px;
}

#seeking_btn:hover {
    background-color: #D6F5D6; /* light tealish */
    color: black;
    cursor: pointer;
}

#volunteer_btn {
    font-family: "comfortaa";
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 250px;
}

#volunteer_btn:hover {
    background-color: #E8D9C5; /* vibrant yellow */
    color: black;
        cursor: pointer;
}
#wrapper{
    text-align: center;
    font-family: "comfortaa";
    font-size: 55px;
}