@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body{
    font-family: comfortaa;
    background-color: #D6F5D6;
}
h1{
    font-size: 75px;
    text-align: center;
    text-shadow: rgb(255,255,255);
}