*{
    font-family: "comfortaa";

}
body{
background-image: url('https://www.freepik.com/free-vector/abstract-white-background-vector-illustration_1320301.htm');
}
#body
{
    text-align: center;
}
#main{
    text-align: center;
}