<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
    <link rel="stylesheet" href="css/index.css">
        <title>
            Emergency Stay
        </title>
        </head>
    <body>
        <div id="wrapper">
        <h1>Welcome to Emergency Stay,</h1>
        <h2>I...</h2>
        </div>
        <div id="buttons">
<a href="/seeking"><button id="seeking_btn"><span>Am Seeking A Home</span></button></a>
    <a href ="/volunteering"><button id="volunteer_btn"><span>Am Volunteering My Home</span></button></a>
    
    <a href ="/report"><button id="report_btn"><span>Am Reporting An Incident(s)</span></button></a>
</div>
    </body>
</html>