<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/standards.css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    </head>
    <body>
   <div id="standards">
    <b>Community Standards</b>
    <ul>    
        Respecting others and their property.<br>
        Respecting others beliefs systems.<br>
        Every person, both the volunteer and the victims of natural disasters, must be physically and mentally safe at all times. Failure to do so can be reported <a href="/report">here.</a>
        <p id="emergency_disclaimer">For Emergency situations please dial 911.</p>
    </ul>
 
</div> 
     
    <footer>
        <a href ="/#"><button id="volunteer_btn"><span>Back</span></button></a>
    </footer>
</html>
