<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/volunteer.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <title>
            Volunteering
        </title>
    </head>
    <body>
        <h1>Thank you for volunteering. We'd like to ask you a few questions first.</h1>
    </body>
    <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  <form>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <input type="text" name="preferredgender"><br>
</form>
</form>
    <footer>
        <div id="wrapper">
            <a href ="/#"><button id="volunteer_btn"><span>Back</span></button></a>
        </div>
    </footer>
</html>